assets/node-red/flows.json
[{"id":"4cc09d4e.66e6c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a625d77.a6c5428","type":"ibmiot","z":"","name":"iotservice","keepalive":"60","serverName":"7vkdvg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ad888a30.2d8128","type":"ui_group","z":"","name":"Smart Home","tab":"148499d8.449296","order":1,"disp":true,"width":"6","collapse":false},{"id":"148499d8.449296","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9d88a3e2.8d26f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"283fb2.83d9e04e","type":"debug","z":"4cc09d4e.66e6c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":60,"wires":[]},{"id":"4216e88c.5fc048","type":"function","z":"4cc09d4e.66e6c4","name":"temperature","func":"global.set('temperature',msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":180,"wires":[["283fb2.83d9e04e","41da0bbd.9ff2f4"]]},{"id":"414508b6.eaf588","type":"function","z":"4cc09d4e.66e6c4","name":"humidity","func":"global.set('humidity',msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":240,"wires":[["283fb2.83d9e04e","70e78deb.c76a84"]]},{"id":"2b21400d.e5819","type":"function","z":"4cc09d4e.66e6c4","name":"person","func":"global.set('person',msg.payload.d.person)\nmsg.payload=msg.payload.d.person\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":300,"wires":[["283fb2.83d9e04e","758c6984.1f1a98"]]},{"id":"41da0bbd.9ff2f4","type":"ui_gauge","z":"4cc09d4e.66e6c4","name":"temperature","group":"ad888a30.2d8128","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":180,"wires":[]},{"id":"70e78deb.c76a84","type":"ui_gauge","z":"4cc09d4e.66e6c4","name":"humidity","group":"ad888a30.2d8128","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":240,"wires":[]},{"id":"758c6984.1f1a98","type":"ui_gauge","z":"4cc09d4e.66e6c4","name":"person","group":"ad888a30.2d8128","order":2,"width":0,"height":0,"gtype":"gage","title":"person","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":300,"wires":[]},{"id":"336f9ce.75d7064","type":"http request","z":"4cc09d4e.66e6c4","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://4c69b596-b182-4d82-b9ec-cacab08c055f-bluemix.cloudant.com/worker_details/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":420,"wires":[["7651aa0b.431d44","269340b8.ffd54"]]},{"id":"74fe56c5.6f5a68","type":"inject","z":"4cc09d4e.66e6c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[["336f9ce.75d7064"]]},{"id":"7651aa0b.431d44","type":"debug","z":"4cc09d4e.66e6c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"269340b8.ffd54","type":"function","z":"4cc09d4e.66e6c4","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":520,"wires":[["7651aa0b.431d44","16904dcd.ddc182"]]},{"id":"16904dcd.ddc182","type":"ui_template","z":"4cc09d4e.66e6c4","group":"ad888a30.2d8128","name":"","order":3,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width=\"280\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":560,"wires":[[]]},{"id":"21c36cc1.2d6464","type":"ui_button","z":"4cc09d4e.66e6c4","name":"Door Open","group":"ad888a30.2d8128","order":4,"width":0,"height":0,"passthru":false,"label":"Door Open","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"open\"}","payloadType":"json","topic":"","x":190,"y":580,"wires":[["422b376d.81fc88","cceb0acc.413598"]]},{"id":"290d0fb5.fb92a","type":"ui_button","z":"4cc09d4e.66e6c4","name":"Door Close","group":"ad888a30.2d8128","order":5,"width":0,"height":0,"passthru":false,"label":"Door Close","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"close\"}","payloadType":"json","topic":"","x":190,"y":640,"wires":[["422b376d.81fc88","cceb0acc.413598"]]},{"id":"422b376d.81fc88","type":"debug","z":"4cc09d4e.66e6c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":620,"wires":[]},{"id":"cceb0acc.413598","type":"ibmiot out","z":"4cc09d4e.66e6c4","authentication":"apiKey","apiKey":"a625d77.a6c5428","outputType":"cmd","deviceId":"1234","deviceType":"nodemcu","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":450,"y":700,"wires":[]},{"id":"8f4664da.d433a8","type":"http in","z":"4cc09d4e.66e6c4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":820,"wires":[["7d459e96.1fbad"]]},{"id":"f9ec6f76.1c613","type":"http response","z":"4cc09d4e.66e6c4","name":"","statusCode":"","headers":{},"x":470,"y":820,"wires":[]},{"id":"7d459e96.1fbad","type":"function","z":"4cc09d4e.66e6c4","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"), 'humidity':global.get(\"humidity\"), 'person':global.get(\"person\")}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":820,"wires":[["f9ec6f76.1c613"]]},{"id":"cda1245d.7fe5e8","type":"http in","z":"4cc09d4e.66e6c4","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":100,"y":880,"wires":[["a66545eb.4eafe8"]]},{"id":"a66545eb.4eafe8","type":"function","z":"4cc09d4e.66e6c4","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":880,"wires":[["e6fb9954.8346e8","cceb0acc.413598","422b376d.81fc88"]]},{"id":"e6fb9954.8346e8","type":"http response","z":"4cc09d4e.66e6c4","name":"","statusCode":"","headers":{},"x":480,"y":880,"wires":[]},{"id":"d5673ba.1af62c8","type":"ibmiot in","z":"4cc09d4e.66e6c4","authentication":"apiKey","apiKey":"a625d77.a6c5428","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":100,"wires":[["283fb2.83d9e04e","4216e88c.5fc048","414508b6.eaf588","2b21400d.e5819"]]}]